/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.css';

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Verdana, sans-serif;
	font-size: 14px;
}

p {
	margin: 20px;
}

label, button {
	overflow: hidden;
	text-overflow: ellipsis;
}
