<div class="main">
    <div class="middle">
        <div class="centro">
            <div class="username">
                <label for="">Inserisci Username</label>
                <input type="text" [(ngModel)]="username">
            </div>
            <div class="password">
                <label for="">Inserisci Password</label>
                <input type="text" [(ngModel)]="password">
            </div>
        </div>
    </div>
    <div class="action">
        <button class="btn btn-success" (click)="submit()">Invia</button>
    </div>
</div>