<div class="border">
  <div class="submenu" (click)="Emit('user')">
    <span class="icon fa fa-car"></span><span class="title">Query Profiler</span>
  </div>
  <div class="submenu" (click)="Emit('message')">
    <span class="icon fa fa-car"></span><span class="title">Create Table</span>
  </div>
<div class="submenu" (click)="Emit('visualization')">
  <span class="icon fa fa-car"></span><span class="title">View and Layout </span>
</div>
<div class="submenu" (click)="Emit('publish')">
  <span class="icon fa fa-arrows"></span><span class="title">Data Model(E/R)</span>
</div>
<div class="submenu" (click)="Emit('insertion')">
  <span class="icon fa fa-arrows"></span><span class="title">Data Insertion</span>
</div>
</div>


<!-- <div class="border">
  <div class="submenu" (click)="Emit('auth')">
    <span class="icon fa fa-car"></span><span class="title">Authenticate</span>
  </div>
  <div class="submenu" (click)="Emit('user')">
    <span class="icon fa fa-car"></span><span class="title">User anagraphic</span>
  </div>
  <div class="submenu" (click)="Emit('visualization')">
    <span class="icon fa fa-car"></span><span class="title">View and Layout </span>
  </div>
  <div *ngIf="mode['visualization'].view==true" class="open">
    <span class="icon fa fa-arrows"></span><span class="title">Visualization1</span>
    <span class="icon fa fa-arrows"></span><span class="title">Visualization2</span>
    <span class="icon fa fa-arrows"></span><span class="title">Visualization3</span>
  </div>
  <div class="submenu" (click)="Emit('publish')">
    <span class="icon fa fa-arrows"></span><span class="title">Publishing Redis</span>
  </div>
  <div *ngIf="mode['publish'].view==true">
    <div class="empty"></div>
    <div class="open">
      <div>
        <span class="icon fa fa-arrows"></span><span>Publishing Redis</span>
      </div>
      <div>
        <span class="icon fa fa-arrows"></span><span>Publishing Redis</span>
      </div>
      <div>
        <span class="icon fa fa-arrows"></span><span>Publishing Redis</span>
      </div>
    </div>
  </div>
  <div class="submenu" (click)="Emit('service')">
    <span class="icon fa fa-car"></span><span class="title">Insert New Service</span>
  </div>
  <div class="submenu" (click)="Emit('message')">
    <span class="icon fa fa-arrows"></span><span class="title">User trial experience</span>
  </div>
  <div class="submenu" (click)="Emit('network')">
    <span class="icon fa fa-arrows"></span><span class="title">html/css experience</span>
  </div>
</div> -->