<!--  FLOAT -->
<!-- <div id="container">
  <div id="sidebar">
    <p>Lorem ipsum...orem ipsum... atibus vitae tortor Donec Morbi enim non pede vitae pretium nibh. Id Vestibulum mauris quam dolor vitae urna.

        Urna ridiculus nulla commodo Curabitur Quisque vitae ac nulla dolor Nam. Ut justo accumsan Maecenas dolor nibh ac adipiscing rutrum et eget.
        
        Massa scelerisque congue condimentum malesuada lacus ridiculus Aliquam magna nibh dictumst. Phasellus justo at sagittis enim tempor In id Lore</p>
  </div>
  <div id="content">
    <p>Lorem ipsum... atibus vitae tortor Donec Morbi enim non pede vitae pretium nibh. Id Vestibulum mauris quam dolor vitae urna.

        Urna ridiculus nulla commodo Curabitur Quisque vitae ac nulla dolor Nam. Ut justo accumsan Maecenas dolor nibh ac adipiscing rutrum et eget.
        
        Massa scelerisque congue condimentum malesuada lacus ridiculus Aliquam magna nibh dictumst. Phasellus justo at sagittis enim tempor In id Lore</p>
  </div>
</div> -->



<!-- NAVBAR
    <div id="sidebar">
        <p>Lorem ipsum...orem ipsum... atibus vitae tortor Donec Morbi enim non pede vitae pretium nibh. Id Vestibulum
            mauris quam dolor vitae urna.

            Urna ridiculus nulla commodo Curabitur Quisque vitae ac nulla dolor Nam. Ut justo accumsan Maecenas dolor
            nibh ac adipiscing rutrum et eget.

            Massa scelerisque congue condimentum malesuada lacus ridiculus Aliquam magna nibh dictumst. Phasellus justo
            at sagittis enim tempor In id Lore</p>
    </div>
    <div id="content">
        <p>Lorem ipsum... atibus vitae tortor Donec Morbi enim non pede vitae pretium nibh. Id Vestibulum mauris quam
            dolor vitae urna.

            Urna ridiculus nulla commodo Curabitur Quisque vitae ac nulla dolor Nam. Ut justo accumsan Maecenas dolor
            nibh ac adipiscing rutrum et eget.

            Massa scelerisque congue condimentum malesuada lacus ridiculus Aliquam magna nibh dictumst. Phasellus justo
            at sagittis enim tempor In id Lore</p>
    </div>
    <div id="content">
        <p>Lorem ipsum... atibus vitae tortor Donec Morbi enim non pede vitae pretium nibh. Id Vestibulum mauris quam
            dolor vitae urna.

            Urna ridiculus nulla commodo Curabitur Quisque vitae ac nulla dolor Nam. Ut justo accumsan Maecenas dolor
            nibh ac adipiscing rutrum et eget.

            Massa scelerisque congue condimentum malesuada lacus ridiculus Aliquam magna nibh dictumst. Phasellus justo
            at sagittis enim tempor In id Lore</p>
    </div>
    <div id="content">
        <p>Lorem ipsum... atibus vitae tortor Donec Morbi enim non pede vitae pretium nibh. Id Vestibulum mauris quam
            dolor vitae urna.

            Urna ridiculus nulla commodo Curabitur Quisque vitae ac nulla dolor Nam. Ut justo accumsan Maecenas dolor
            nibh ac adipiscing rutrum et eget.

            Massa scelerisque congue condimentum malesuada lacus ridiculus Aliquam magna nibh dictumst. Phasellus justo
            at sagittis enim tempor In id Lore</p>
    </div>
    <div id="content">
        <p>Lorem ipsum... atibus vitae tortor Donec Morbi enim non pede vitae pretium nibh. Id Vestibulum mauris quam
            dolor vitae urna.

            Urna ridiculus nulla commodo Curabitur Quisque vitae ac nulla dolor Nam. Ut justo accumsan Maecenas dolor
            nibh ac adipiscing rutrum et eget.

            Massa scelerisque congue condimentum malesuada lacus ridiculus Aliquam magna nibh dictumst. Phasellus justo
            at sagittis enim tempor In id Lore</p>
    </div>
    <div id="content">
        <p>Lorem ipsum... atibus vitae tortor Donec Morbi enim non pede vitae pretium nibh. Id Vestibulum mauris quam
            dolor vitae urna.

            Urna ridiculus nulla commodo Curabitur Quisque vitae ac nulla dolor Nam. Ut justo accumsan Maecenas dolor
            nibh ac adipiscing rutrum et eget.

            Massa scelerisque congue condimentum malesuada lacus ridiculus Aliquam magna nibh dictumst. Phasellus justo
            at sagittis enim tempor In id Lore</p>
    </div>
    <div id="content">
        <p>Lorem ipsum... atibus vitae tortor Donec Morbi enim non pede vitae pretium nibh. Id Vestibulum mauris quam
            dolor vitae urna.

            Urna ridiculus nulla commodo Curabitur Quisque vitae ac nulla dolor Nam. Ut justo accumsan Maecenas dolor
            nibh ac adipiscing rutrum et eget.

            Massa scelerisque congue condimentum malesuada lacus ridiculus Aliquam magna nibh dictumst. Phasellus justo
            at sagittis enim tempor In id Lore</p>
    </div> -->

<!-- POSITION
<div class="inner1"></div>
<div class="inner2"></div>
<div class="inner3"></div>
<div class="inner4"></div> -->
<!-- 
<div id=leftFrame>
  <div id=tabs>
    <div><p>first ma la vita e sfsa come dici te e non solo
         come dicio io ciao atutti buonanotte ba,bino</p></div>
    <div><p>second</p></div>
  </div>
</div> -->


<!-- NAVBAR -->
<!-- <div class="footer">
    <div class="navbar">
        <ul>
            <li><a href="#">user</a></li>
        </ul>
        <ul>
            <li><a href="#">account</a></li>
        </ul>
        <ul>
            <li><a href="#">company</a></li>
        </ul>
        <ul>
            <li><a href="#">speciaizzazione</a></li>
        </ul>
        <ul>
            <li><a href="#">ruolo</a></li>
        </ul>
    </div>
</div> -->

<!-- NAVBAR  FLEX 
<div class="footer">
        <span>Navigazione</span>
    <div class ="navbar">
        <ul><li><a href="#">user</a></li></ul>
        <ul><li><a href="#">account</a></li></ul>
        <ul><li><a href="#">company</a></li></ul>
        <ul><li><a href="#">speciaizzazione</a></li></ul>
        <ul><li><a href="#">ruolo</a></li></ul>
    </div>
</div> -->


<!-- CUBI -->
<!-- <div class="primo">
    <div class="secondo">
        <div class="terzo">
            <div class="centro">
                <span class="icon fa fa-car"></span>
                <span class="text">centro del cubo</span>
            </div>
        </div>
    </div>
</div>  -->

<!--
<div class="c1">
    <div class="c2">
        <div class="c3">gdfgsdf fsd fsdafsd fsafsd 
            fdsfs fsdfsd
        </div>
    </div>
</div> -->

<!-- VERTICAL CENTER UNA LINEA -->
<!-- <main>
    <div id="centered">
        <button class="btn btn-success">esegui</button>
    </div>
</main> -->

<!-- 
<div class="outer">
    <div class="float">fsd fsdfsd dfsdfsd fdsfsd
        dfsdfsdfdsfds fds fsd dfs fdsf
        dfsdfsdfdsfds fds fsd dfs fdsf
        dfsdfsdfdsfds fds fsd dfs fdsf
        dfsdfsdfdsfds fds fsd dfs fdsf
    </div>
    <div class="content"> fdsfsdfsd fdsfdsfsd fdsfdsfsd fdsfdsfsdfsdf fffffffff fffffffffffffds fdsfdsf</div>
</div> -->

<!-- 

<div class="dib" (click)="testjson()">
    <form action="">
        <div class="=div2">
            <div class="div21">
                <label for="test2">test2</label>
                <input type="text" name="test1">
            </div>
            <div class="div22">
                <label for="test2">test2</label>
                <input type="text" name="test1">
            </div>
            <div class="div23">
                <label for="test2">test2</label>
                <input type="text" name="test1">
            </div>
        </div>
    </form>
</div> -->


<div class="div1">
    <div class="div2">
        <div class="div3">
        </div>
    </div>
</div>